.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.clearfix:after {
    clear: both;
}
body{
	margin: 0;
}
h3{
	font-family: 'Montserrat 400', sans-serif;
	letter-spacing: 4px;
	font-size: 7px;
}
h4{
	font-family: 'Montserrat 800', sans-serif;
	letter-spacing: 1.2px;
	font-size: 5.6px;
}
h1{
	font-size: 36px;
	letter-spacing: 15px;
}
h3, h1, h4{
	line-height: 20px;
}
p{
	font-family: 'Montserrat 400', sans-serif;
	font-size: 12pt;
	line-height: 25px;
}
q{
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
.containerimg910{

}
.img9{
	float:left;
}
.img10{
	float:left;
}
.scaledup{
	width: 100%;
}
.scaleddown{
	width: 100%;
}
.body{
	margin: 0 auto;
	width:90vw;
}

@media only screen and  (min-width: 768px) {
	.body{
		width:600px;
	}
	p{
		font-size: 16px;
	}
	h3{
		font-size: 26.3px;
	}
	h1{
	font-size: 104px;
	letter-spacing: 15px;
}
h4{
	font-family: 'Montserrat 800', sans-serif;
	letter-spacing: 1.2px;
	font-size: 16px;
}
}
@media (min-width: 1024px) {
	p{
		font-size: 16px;
	}

}
@media (min-width: 1450px) {
	p{
		font-size: 18px;
	}
}
