body{
	margin-left: 400px;
	margin-right: 400px;
}
h3{
	font-family: 'Montserrat 400', sans-serif;
	letter-spacing: 4px;
}
h4{
	font-family: 'Montserrat 800', sans-serif;
}
h1{
	font-size: 80px;
	letter-spacing: 6px;
}
p{
	font-family: 'Montserrat 400', sans-serif;
}
.scaledup{
	min-width: 100%;
}
.scaleddown{
	max-width: 100%;
}