h1{
	font-family: 'Questrial', sans-serif;
	font-size: 100px;
}
.section1{
	font-family: 'K2D', sans-serif;
	font-size: 30px;
	margin-left: 30px;
	margin-right: 500px;
}
.section2{
	font-family: 'K2D', sans-serif;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 500px;
}
.section3{
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 30px;
	margin-right: 500px;
}
.img1{
	margin-left: 30px;
}

