h1{
	font-family: 'Questrial', sans-serif;
	font-size: 100px;
}
h2 {
	font-family: 'K2D', sans-serif;
	font-size: 90px;
	font-weight: normal;
	margin-top: 0;
}
h3 {
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	font-weight: normal;
	margin-top: 0;
}
p {
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	line-height: 1em;
}
p.quote {
	color: yellow;
}
.link1{
	color: red;
}
.section1 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 45px;
	margin-left: 30px;
	margin-right: 500px;
	margin-top: 110px;
}
.section2 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 20px;
}
.section3 p{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 100px;
}
.section4 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 70px;
	margin-left: -40px;
	margin-right: 500px;
	margin-top: 165px;
}
.section5 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section6 p{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 140px;
}
.section7 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 150px;
	margin-left: -60px;
	margin-right: 500px;
	margin-top: 80px;
}
.section8 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: .75em;
}
.section9 p{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 80px;
}
.section10 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-size: 95px;
	margin-left: -60px;
	margin-right: 500px;
	margin-top: 150px;
}

.section11 h3{
	position:fixed;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 50px;
}
.section12{
	position: fixed;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 120px;
}
.section12 p.quote {
	color: red;
}
.section13 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 55px;
	margin-left: -5px;
	margin-right: 500px;
	margin-top: 150px;
}
.section14 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section15 {
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 120px;
}
.section16 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 30px;
	margin-left: 90px;
	margin-right: 500px;
	margin-top: 80px;
}
.section17 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section18{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 70px;
}
.section19 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 115px;
	margin-left: -210px;
	margin-right: 500px;
	margin-top: 270px;
}
.section20 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section21{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 120px;
}
.section22 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 70px;
	margin-left: -45px;
	margin-right: 500px;
	margin-top: 160px;
}
.section23 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section24{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 125px;
}
.section25 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 93px;
	margin-left: -110px;
	margin-right: 500px;
	margin-top: 190px;
}
.section26 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section27{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 130px;
}
.section28 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 85px;
	margin-left: -40px;
	margin-right: 500px;
	margin-top: 140px;
}
.section29 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section30{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 130px;
}
.section31 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 60px;
	margin-left: -15px;
	margin-right: 500px;
	margin-top: 145px;
}
.section32 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section33{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 130px;
}

.section34 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 95px;
	margin-left: -130px;
	margin-right: 500px;
	margin-top: 212px;
}
.section35 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section36{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 170px;
}
.section37 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 90px;
	margin-left: -110px;
	margin-right: 500px;
	margin-top: 207px;
}
.section38 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section39{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 200px;
	margin-right: 580px;
	margin-top: 130px;
}
.section40 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 250px;
	margin-left: -170px;
	margin-right: 500px;
	margin-top: 125px;
}
.section41 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section42{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 180px;
}
.section43 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 75px;
	margin-left: 5px;
	margin-right: 500px;
	margin-top: 160px;
}
.section44 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section45{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 130px;
}
.section46 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 77px;
	margin-left: -30px;
	margin-right: 500px;
	margin-top: 185px;
}
.section47 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section48{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 120px;
}
.section49 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 110px;
	margin-left: -100px;
	margin-right: 500px;
	margin-top: 230px;
}
.section50 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section51{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 130px;
}
.section52 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 100px;
	margin-left: -110px;
	margin-right: 500px;
	margin-top: 235px;
}
.section53 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 10px;
	line-height: 1em;
}
.section54{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 110px;
}
.section55 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 85px;
	margin-left: -50px;
	margin-right: 500px;
	margin-top: 190px;
}
.section56 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section57{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 70px;
}
.section58 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 67px;
	margin-left: 20px;
	margin-right: 500px;
	margin-top: 160px;
}
.section59 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section60{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 130px;
}
.section61 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 122px;
	margin-left: -180px;
	margin-right: 500px;
	margin-top: 285px;
}
.section62 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section63{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 250px;
	margin-right: 580px;
	margin-top: 110px;
}
.section64 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 45px;
	margin-left: -10px;
	margin-right: 500px;
	margin-top: 110px;
}
.section65 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 170px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section66{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 170px;
	margin-right: 580px;
	margin-top: 180px;
}
.section67 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 75px;
	margin-left: -30px;
	margin-right: 500px;
	margin-top: 118px;
}
.section68 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 170px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section69{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 170px;
	margin-right: 580px;
	margin-top: 130px;
}
.section70 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 80px;
	margin-left: -60px;
	margin-right: 500px;
	margin-top: 138px;
}
.section71 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 170px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section72{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 170px;
	margin-right: 580px;
	margin-top: 90px;
}
.section73 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 107px;
	margin-left: -200px;
	margin-right: 500px;
	margin-top: 245px;
}
.section74 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 170px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section75{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 170px;
	margin-right: 580px;
	margin-top: 170px;
}
.section76 h2{
	position: fixed;
	transform: rotate(-90deg);
	font-family: 'K2D', sans-serif;
	font-size: 62px;
	margin-left: -40px;
	margin-right: 500px;
	margin-top: 140px;
}
.section77 h3{
	position:fixed;
	font-family: 'K2D', sans-serif;
	font-size: 50px;
	margin-left: 170px;
	margin-right: 500px;
	margin-top: 15px;
	line-height: 1em;
}
.section78{
	position: fixed;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	margin-left: 170px;
	margin-right: 580px;
	margin-top: 70px;
}





